h1 {
    font-size: 100px;
    text-align: center;
    margin-bottom: 15pt;
    text-decoration: wavy;
    background-color: rgba(190, 106, 145, 0.76);
    color: rgb(117, 115, 115);
    }

    li {
        color: rgb(150, 150, 150);
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 16pt;
    }

    html {
        background-color: rgb(235, 229, 219);
    }

    p {
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 24pt;
        color: black;
    }

